*{
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}


img{
    width: 100%;
}


/**************** HEADER ************/
header{
border-bottom: 2px solid black;
}
.main_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_nav img{
    width: 200px;
    padding: 10px;
}
.main_nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.main_nav li{
    padding: 0 35px;
    list-style-type: none;
}

.main_nav h1{
    margin: 12px;
}

a{
    text-decoration: none;
    color: inherit;
}

/*************' INDEX *******************/

.categorie_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.categorie {
    background-color: gray;
    color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorie:hover {
    background-color: darkgray;
    cursor: pointer;
}

/************* TABLET ***************/

@media (width > 768px){
    .main_nav{
        flex-direction: row;
    }
    
}

